VITE_SUPABASE_URL=https://vvvbnhzawxgnnwhdyfcy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2dmJuaHphd3hnbm53aGR5ZmN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5MDYxMzUsImV4cCI6MjEwNDQ4MjEzNX0.Wed4Q0gztpjvrv3KgtNHP-v3AN2EswWjazHsthl5-d0
VITE_APP_NAME=LMS Academy